/*
    vh = viewport height (Altura de la ventana)
    vw = viewport width (Ancho de la ventana)
*/
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.55)), to(rgba(0, 0, 0, 0.2))), url("/static/images/Sea_cutted.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.2)), url("/static/images/Sea_cutted.jpg");
  background-size: cover;
}

.fondo .movimiento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/Sea_mask_cutted.png");
  background-size: cover;
  -webkit-filter: url("#turbulence");
          filter: url("#turbulence");
}

.form-box {
  width: 30vw;
  height: 75vh;
  position: relative;
  margin: 5% auto;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .form-box {
    width: 50vw;
    height: 70vh;
    position: relative;
    margin: 7% auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

@media (max-width: 685px) {
  .form-box {
    width: 70vw;
    height: 70vh;
    position: relative;
    margin: 7% auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.button-box {
  width: 90%;
  margin: 12% 5%;
  position: relative;
  -webkit-box-shadow: 0 0 20px 9px #ff61241f;
          box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.toggle-btn {
  color: white;
  font-size: 20px;
  width: 50%;
  padding-top: 3%;
  padding-bottom: 3%;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ff105f), to(#ffad06));
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formulario {
  width: 100%;
  height: auto;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.textbox {
  color: #777;
  font-size: 20px;
  width: 88%;
  padding: 10px 0;
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px #999;
  outline: none;
  background: transparent;
  background-color: transparent;
}

.submit-btn {
  color: white;
  font-size: 20px;
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
  padding: 15px 0px;
  cursor: pointer;
  display: block;
  background: -webkit-gradient(linear, left top, right top, from(#ff105f), to(#ffad06));
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

#Login {
  left: 2%;
}

#Register {
  left: 100%;
}

#Register .textbox {
  padding: 0px 0px;
}
/*# sourceMappingURL=Styles.css.map */